
<div class="card-info">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= cl_image_path photog.photog_card_background %>'); margin: 2px;">

    <div class="card-category text-left"><%= booking_alert %>

    </div>
      <div class="card-with-modal">
        <!-- <p>Details: <%= booking.shooting_details %></p> -->
        <% if current_user == photog %>
          <div class="flex-container">
            <div class="flex-item">
              <%= simple_form_for([current_user, booking]) do |f| %>
                <%= f.error_notification %>

                <%= f.input :status, input_html: {value: 'accepted'}, as:'hidden' %>
                <%= f.button :submit, value:'ACCEPT',class:"btn btn-transparent btn-xs" %>
              <% end %>
            </div>
            <div class="flex-item" >
              <!-- Modale -->

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-default btn btn-transparent btn-xs" data-toggle="modal" data-target="#myModalBookingEdit-<%= booking.id %>">
                Edit
              </button>
              <%= render 'modal_booking', booking: booking, client: client, photog: photog  %>
              <!-- Modale -->
            </div>
            <div class="flex-item">
              <%= simple_form_for([current_user, booking]) do |f| %>
                <%= f.error_notification %>

                <%= f.input :status, input_html: {value: 'canceled'}, as:'hidden' %>
                <% @cancel_msg = "Decline" %>

              <% end %>
            </div>
          </div>
        <% else %>
          <% if booking.shooting_details %>
            <div class="white_shad">
              <%= "#{photog.first_name} says: #{booking.shooting_details[0..30]}" %>
              <%= "[...]" if booking.shooting_details.length > 31 %>
              </div>
          <% end %>
          <% @cancel_msg = "Cancel" %>
          <!-- Modale -->
          <% client = current_user %>
          <% photog = User.find(booking.photog_id) %>
          <%= render 'modal_booking', booking: booking, client: client, photog: photog  %>
          <!-- Modale -->
        <% end %>
      </div>

      <%= image_tag photog.profile_pict, class: "card-user avatar"%>

      <div class="modal-text ">


        <button type="button" style="opacity:0;" data-toggle="modal" data-target="#myModalBookingEdit-<%= booking.id %>">
          <div class="card-booking-link"></div>
        </button>

      </div>
  </div>
  <div class="text-left card-details" style="padding-left:10px;">
    <p >Shoot on: <%= booking.shooting_on.strftime('%a %e %b %Y') %>
    <br>
    For: <%= booking.client_needs %>
    <br>
    Price: <%= booking.shooting_price %> €
    <br>
      <% if current_user.photog? %>
        <%= "With: #{client.first_name} #{client.last_name}" %>
      <% else %>
        <%= "With: #{photog.first_name} #{photog.last_name}" %>
      <% end %>

      <%= link_to @cancel_msg, user_booking_path(booking.client_id, booking.id), method: :delete, data: {confirm: 'This will delete this booking. Do you confirm?'}, class:'btn btn-default btn-xs' %>
  </div>
</div>





