<div class="row text-center">
  <div class="col-xs-12">
    <p><strong>New and updated booking requests</strong></p>
  </div>
</div>

<div class="row text-center" style="height: 200px;">
  <% @bookings_new.reverse_each do |booking| %>
    <% photog = User.find(booking.photog_id) %>
    <% client = User.find(booking.client_id) %>
    <% booking.status == "new" ? booking_alert = "<p style='color: red;'>NEW!</p>".html_safe : booking_alert ="<p style='color: yellow;'>UPDATED!</p>".html_safe %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
      <div id="booking-<%= booking.id %>">
        <%= render 'booking_card_content', booking: booking, photog: photog, client: client, booking_alert: booking_alert %>
      </div>
    </div>
  <% end %>
</div>

<div class="row text-center">
  <div class="col-xs-12">
    <p><strong>Upcoming shootings</strong></p>
  </div>
</div>
<div class="row" style="height: 200px;">
  <% @bookings_accepted.reverse_each do |booking| %>
    <% photog = User.find(booking.photog_id) %>
    <% client = User.find(booking.client_id) %>
    <% booking_alert = "" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= render 'booking_card_content', booking: booking, photog: photog, client: client, booking_alert: booking_alert %>
    </div>
  <% end %>
</div>

<div class="row text-center">
  <div class="col-xs-12">
    <p><strong>Waiting for reply</strong></p>
  </div>
</div>
<div class="row" style="height: 200px;">
  <% @bookings_pending.reverse_each do |booking| %>
    <% photog = User.find(booking.photog_id) %>
    <% client = User.find(booking.client_id) %>
    <% booking_alert = "<p style='color: green;'>pending</p>".html_safe %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= render 'booking_card_content', booking: booking, photog: photog, client: client, booking_alert: booking_alert %>
    </div>
  <% end %>
</div>

<div class="row text-center">
  <div class="col-xs-12">
    <p><strong>Archived bookings</strong></p>
  </div>
</div>
<div class="row" style="height: 200px;">
  <% @bookings_archived.reverse_each do |booking| %>
    <% photog = User.find(booking.photog_id) %>
    <% client = User.find(booking.client_id) %>
    <% booking_alert = "Archived" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= render 'booking_card_content', booking: booking, photog: photog, client: client, booking_alert: booking_alert %>
    </div>
  <% end %>
</div>
</div>
