
<div class="card-info">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= cl_image_path photog.photog_card_background %>'); margin: 2px;">

    <div class="card-category text-left"><%= booking_alert %>

    </div>
      <div class="card-description">
        <!-- <p>Details: <%= booking.shooting_details %></p> -->
          <% if current_user.id == booking.photog_id %>
            <div class="flex-container">
              <div class="flex-item">
                <%= simple_form_for([current_user, booking]) do |f| %>
                  <%= f.error_notification %>

                  <%= f.input :status, input_html: {value: 'accepted'}, as:'hidden' %>
                  <%= f.button :submit, value:'ACCEPT',class:"btn btn-transparent btn-xs" %>
                <% end %>
              </div>
              <div class="flex-item" >


                  <%= link_to "Reply", edit_user_booking_path(booking.client_id, booking.id),class:"btn btn-default btn btn-transparent btn-xs" %>


              </div>
              <div class="flex-item">
                <%= simple_form_for([current_user, booking]) do |f| %>
                  <%= f.error_notification %>

                  <%= f.input :status, input_html: {value: 'canceled'}, as:'hidden' %>
                  <% @cancel_msg = "Refuse" %>

                <% end %>
              </div>
            </div>
          <% else %>
          <!-- If current_user is a client -->
            <% if booking.shooting_details? %>
            <%= "#{photog.first_name} says: #{booking.shooting_details[0..30]}" %>
            <%= "[...]" if booking.shooting_details.length > 31 %>
            <% end %>
            <% @cancel_msg = "Cancel" %>
          <% end %>

      </div>

    <%= image_tag photog.profile_pict, class: "card-user avatar"%>
    <%= link_to user_booking_path(client.id, booking.id) do %>
      <div class="card-booking-link"></div>
    <% end %>
  </div>
  <div class="text-left card-details" style="padding-left:10px;">
    <p >Shoot on: <%= booking.shooting_on.strftime('%a %e %b %Y') %>
    <br>
    For: <%= booking.client_needs %>
    <br>
    Price: <%= booking.shooting_price %> €
    <br>
      <% if current_user.photog? %>
        <%= "With: #{client.first_name} #{client.last_name}" %>
      <% else %>
        <%= "With: #{photog.first_name} #{photog.last_name}" %>
      <% end %>

      <%= link_to @cancel_msg, user_booking_path(booking.client_id, booking.id), method: :delete, remote: true, data: {confirm: 'This will delete this booking. Do you confirm?'}, class:'btn btn-default btn-xs' %>
  </div>
</div>





