
              <!-- Modal -->
              <div class="modal fade" id="myModalBookingEdit-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel" style="color: black;">Booking Details</h4>
                    </div>
                    <div class="modal-body">
                      <strong>Photoshoot on: </strong><%= booking.shooting_on.strftime('%a %e %b %Y') %>
                      <br>
                      <strong>Location: </strong><%= booking.shooting_location %>
                      <br>

                      <%= simple_form_for([client, booking]) do |f| %>
                        <%= f.error_notification %>
                        <% if current_user.id == booking.client_id %>
                          <br>
                          <%= f.input :client_needs, placeholder: booking.client_needs, label: 'For:' %>
                          <br>
                          <%= f.input :shooting_price, placeholder: booking.shooting_price %>
                          <br>
                          <%= f.input :shooting_details, as:"hidden", input_html: {value: booking.shooting_details} %>
                          <%= f.input :status, as:"hidden", input_html: {value: 'client_updated'} %>
                          <strong><%= "#{photog.first_name}'s comment:" %></strong>
                          <br><%= booking.shooting_details %>
                          <hr>
                        <% else %>
                          <strong>For: </strong><%= booking.client_needs %>
                          <hr>
                          <strong>Proposed price: </strong><%= booking.shooting_price %> €
                          <br>

                          <% default = booking.shooting_details || "Answer this request" %>

                          <p><%= f.input :shooting_details, placeholder: default, label: false %></p>
                          <%= f.input :status, as:"hidden", input_html: {value: 'photog_updated'} %>

                        <% end %>

                        <%= link_to "BACK", user_bookings_path(current_user), class:'btn btn-primary btn-sm' %>
                        <%= f.button :submit, value:"SEND REPLY", class:"btn btn-warning btn-sm" %>

                      <% end %>



                    </div>

                  </div>
                </div>
              </div>
