<div class="text-center">

  <h1><%= @title %></h1>
  <p>Updated on <%= "#{@booking.updated_at.strftime('%a %e %b %Y')}" %></p>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 grey-card">
      <strong>Photoshoot on: </strong><%= @booking.shooting_on.strftime('%a %e %b %Y') %>
      <br>
      <strong>Location: </strong><%= @booking.shooting_location %>
      <br>
      <strong>For: </strong><%= @booking.client_needs %>
      <hr>
      <strong>Proposed price: </strong><%= @booking.shooting_price %> €
      <br>
      <strong>Shooting details: </strong>
      <br><%= @booking.shooting_details %>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4" >
      <% if current_user.id == @booking.photog_id %>
        <%= simple_form_for([current_user, @booking]) do |f| %>
          <%= f.error_notification %>

          <%= f.input :shooting_details, as:"hidden", input_html: {value: @booking.shooting_details} %>
          <%= f.input :status, input_html: {value: 'accepted'}, as:'hidden' %>
          <%= f.button :submit, value:'Accept request',class:"btn btn-success" %>
        <% end %>
      <% else %>
        <%= link_to "Cancel request", user_booking_path(@booking.client_id, @booking.id), method: :delete, class:'btn btn-danger btn-sm' %>
        <%= link_to "Modify request", edit_user_booking_path(@booking.client_id, @booking.id), class:'btn btn-warning btn-sm' %>
      <% end %>
      <%= link_to "Back", user_bookings_path(current_user), class:'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
