<div class="banner-index-page" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('http://res.cloudinary.com/dujnmeiiu/image/upload/v1468500032/camera_viyviy.jpg'); width: 100%; margin-bottom: 35px; height: 30vh;";>
  <div class="banner-content-show">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="profile-header">
            <div class="profile-pic">
              <%= image_tag @user.profile_pict, class: "avatar-large-show" %>
            </div>
            <div class="profile-info">
              <h2><%= "#{@user.first_name}  #{@user.last_name}" %></h2>
              <p><%= "#{@user.address}" %></p>
            </div>
            <div class="profile-price" style="flex: 1 0 auto;">
              <p style="padding-left: 10px;"><%= @user.price %> €/h</p>
              <% if @user == current_user %>
                <%= link_to "Edit", edit_user_path(@user), class:"btn btn-primary", style:"width: 100%;" %>
              <% else %>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModaltest">
                Book now
              </button>

              <!-- Modal -->
              <div class="modal fade" id="myModaltest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel" style="color: black;">New booking with <%= @user.first_name %> <%= @user.last_name %></h4>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for([current_user, @booking]) do |f| %>
                        <%= f.error_notification %>

                        <%= f.input :client_id, input_html: { value: current_user.id }, as: "hidden"  %>
                        <%= f.input :photog_id, input_html: { value: @photog.id }, as: "hidden" %>

                        <%= f.input :client_needs, placeholder: 'Describe your expectations' %>
                        <%= f.input :shooting_location, placeholder:'Where is your shooting?' %>
                        <%= f.input :shooting_on %>
                        <%= f.input :shooting_price, placeholder: 'What is your budget?' %>
                        <%= f.input :shooting_details, disabled: true, placeholder: "To be filled by the photographer" %>
                        <%= f.input :status, as:"hidden", input_html: {value: 'new'} %>
                        <%= f.button :submit, class: "btn btn-primary" %>
                      <% end %>
                    </div>

                  </div>
                </div>
              </div>


              <% end %>
            </div>
          </div>

        </div>
      </div>
      </div>
  </div>
</div>



<div class="container">

<% if @user.portfolios.first %>
  <div class="row">
    <div class="col-xs-12 text-center">

      <div class="container-carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="<%= cl_image_path @user.portfolios.first.path %>" class="swipebox" title="<%= @user.first_name %> <%= @user.last_name %>">
              <%= cl_image_tag @user.portfolios.first.path %>
            </a>

            <div class="carousel-caption">
              ...
            </div>
          </div>

          <% @user.portfolios.each do |photo| %>
            <div class="item">
            <a href="<%= cl_image_path photo.path %>" class="swipebox" title="<%= @user.first_name %> <%= @user.last_name %>">
              <%= cl_image_tag photo.path %>
            </a>
              <div class="carousel-caption">
                ...
              </div>
            </div>
          <% end %>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row text-center" >
    <div class="col-xs-12 col-sm-8 col-sm-offset-3 bg-grey" style="width: 50%; height: 70px;">
      <div style="vertical-align: middle;"><h3>No portfolio uploaded yet</h3></div>
    </div>
  </div>
<% end %>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="profile-description text-center">
      <h3>About <%= @user.first_name %></h3>
      <p style="margin-bottom: 20px;"><%= "#{@user.bio}" %></p>
      <% if @user != current_user && @user.portfolios.first %>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModaltest">
          Book <%= @user.first_name %> now
        </button>
      <% end %>
    </div>
  </div>
</div>

</div>

