<div class="row">
  <% @photogs.each do |photog| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photog.photog_card_background %>');">

          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= photog.first_name %> <%= photog.last_name %></h2>
            <p>#tag, #tag, #tag</p>
          </div>
          <%= image_tag photog.profile_pict, class: "card-user avatar"%>
          <%= link_to user_path(photog.id) do %>
            <div class="card-link"></div>
          <% end %>
        </div>


      </div>
  <% end %>
</div>




