<div class="element-background" style="background: #E5EAED; height: 100%;">

  <div class="banner-index-page" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('http://res.cloudinary.com/dujnmeiiu/image/upload/v1468500032/camera_viyviy.jpg');">
    <div class="banner-content" style="background: rgba(0,0,0,0.5);">
      <h3>Your next memory is around the corner</h3>
    </div>
  </div>
  <div class="element-body">
    <div class="container">
      <% if @location_search  %>
        <div class="row text-center">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <%= link_to "See all", users_path, class:"btn btn-primary btn-xs" %>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="color:#4C4C4C">
            <%= "Results for Photographers in #{@location_search}"%>

            <hr>
          </div>
        </div>
      <% end %>

      <%= render 'photog_card' %>

    </div>
  </div>

  <div class="googlemap" style="margin: 50px 30px;">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {

        var mapOptions =
        {
        backgroundColor: 'white',
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false,
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
        },
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#dde6e8"},{"visibility":"on"}]}]
      }




        handler = Gmaps.build('Google');
        handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>

</div>

