<div class="text-center">
  <h1>Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>
</div>
<hr>

<div class="container">
  <% if @user.photog? %>
        <%= render 'photog_show_card' %>
      <% else %>
        <%= render 'client_show_card' %>
      <% end %>


  <div class="row">
    <div class="col-xs-6 col-sm-2 col-sm-offset-4">
      <%= link_to "Back to index", users_path, class:"btn btn-primary" %>
    </div>
    <% if @user == current_user %>
      <div class="col-xs-6 col-sm-2">
        <%= link_to "Edit profile", edit_user_path(@user), class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<%=  %>
